/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand&display=swap');

/* Setup */

:root {
  /* Color Setup */
  --primary: #fbc257;
  --primary-light: #fccc73;
  --dark-brown: #341413;
  --gray-1: #798092;
  --gray-2: #e6e6ed;
  --white: #ffffff;
}

/* font size Desktop */
--header-1: 64px;
--header-2: 48px;
--header-3: 42px;
--header-4: 32px;

--text-medium: 18px;
--text-regular: 16px;
--text-light: 13px;

/* Font Weight */

--font-weight-bold: 700;
--font-weight-semi-bold: 600;
--font-weight-medium: 500;
--font-weight-regular: 400;
--font-weight-light: 300;

body {
  font-family: 'Quicksand', sans-serif;
}

/* Button Primary */
.btn {
  padding: 12px 25px;
  border-radius: 6px;
  font-size: var(--text-medium);
  font-weight: var(--font-weight-medium);
}

.btn-primary {
  background-color: var(--primary);
  border: none;
}

.btn-primary:focus {
  background-color: var(--primary-light);
}

.btn-primary:hover {
  background-color: var(--white) !important;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.5) !important;
  color: var(--gray-1);
}

/* Navbar */

.navbar-brand img {
  padding-right: 15px;
}

.navbar-brand span {
  font-size: var(--text-medium);
  font-weight: var(--font-weight-medium);
  color: var(--dark-brown);
}

.navbar {
  padding: 48px 0;
}

a.nav-link {
  margin-right: 39px;
  font-size: var(--text-regular);
  font-weight: var(--font-weight-medium);
  color: var(--dark-brown) !important;
}

/* Hero */

